@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root,
    :root[data-theme="light"] {
        --color-bgPrimary: 251 241 199;
        --color-bgSecondary: 249 245 215;
        --color-border: 235 219 178;
        --color-accent: 214 93 14;
        --color-accent2: 215 153 33;
        --color-text: 60 56 54;
        --color-textVibrant: 40 40 40;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --color-bgPrimary: 40 40 40;
            --color-bgSecondary: 29 32 33;
            --color-border: 60 56 54;
            --color-accent: 214 93 14;
            --color-accent2: 215 153 33;
            --color-text: 235 219 178;
            --color-textVibrant: 251 241 199;
        }
    }
    :root[data-theme="dark"] {
        --color-bgPrimary: 40 40 40;
        --color-bgSecondary: 29 32 33;
        --color-border: 60 56 54;
        --color-accent: 214 93 14;
        --color-accent2: 215 153 33;
        --color-text: 235 219 178;
        --color-textVibrant: 251 241 199;
    }
}