@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap');

@layer base {
    :root {
        --color-bg: 18 18 18;
        --color-bg-dim: 13 13 13;
        --color-accent: 93 63 211;
        --color-fg-dim: 191 191 191;
        --color-fg: 242 242 242;
    }

}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-fg));
}